@media (max-width: 1250px){
    #contact{
        left: 39.5rem;
        width: 24rem;
        height: 34rem;
    }
    #contact input, textarea{
        height: 2rem;
    }
    #contact textarea{
        height: 9rem;
    }
}

/*======================================================================================*/

@media (max-width: 1200px) {
    #contact{
        left: 37rem;
    }
    #box2 a img{
        margin-top: 8.5rem;
        margin-bottom: 2rem;
    }
}

/*========================================================================================*/

@media (max-width: 1150px){
    #show-content{
        display: none;
    }
    .footer{
        display: none;
    }
    body{
        background: linear-gradient(19deg, #c4668a 0%, #a8093e 100%) no-repeat center center fixed; 
    width: 100%;
    height: 100%;
    }
    #hide-content{
        display:block;
    }
    
}

/*========================================================================================*/

@media (max-width: 992px) {
    #show-content{
        display: none;
    }
    .footer{
        display: none;
    }
    body{
        background: linear-gradient(19deg, #c4668a 0%, #a8093e 100%) no-repeat center center fixed; 
    width: 100%;
    height: 100%;
    }
    #hide-content{
        display:block;
    }
}

/*========================================================================================*/

@media (max-width:768px){
    #show-content{
        display: none;
    }
    .footer{
        display: none;
    }
    body{
        background: linear-gradient(19deg, #c4668a 0%, #a8093e 100%) no-repeat center center fixed; 
    width: 100%;
    height: 100%;
    }
    #hide-content{
        display:block;
    }
}

/*=========================================================================================*/

@media (max-width: 576px) {
    #show-content{
        display: none;
    }
    .footer{
        display: none;
    }
    body{
        background: linear-gradient(19deg, #c4668a 0%, #a8093e 100%) no-repeat center center fixed; 
    width: 100%;
    height: 100%;
    }
    #hide-content{
        display:block;
    }
}

/*=========================================================================================*/

@media (max-width: 360px) {
    #show-content{
        display: none;
    }
    .footer{
        display: none;
    }
    body{
        background: linear-gradient(19deg, #c4668a 0%, #a8093e 100%) no-repeat center center fixed; 
    width: 100%;
    height: 100%;
    }
    #hide-content{
        display:block;
    }
}
